---
import { TresCanvas } from "@tresjs/core";
---

<TresCanvas>
    <div class="flex flex-col items-center justify-center h-full">
        <h1 class="text-4xl font-bold">Orbat</h1>
    </div>
</TresCanvas>
